body{
    margin:0;
}
.hero{
    background-image: url('../image/productImages/hero-image.jpg');
    background-size: cover;
    background-position: center 60%;
    height: 100vh;

    display: flex;
    align-items: center;
}
.hero-title{
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}
.gategory h2{
    color: #6F4E37;
    font-family: "Baloo 2", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#searchInput{
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border-radius:10px;

}
#searchButton{
    position: absolute;
    right:29%;
    background-color: #6F4E37;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
}
#searchButton:hover{
    background-color: white;
    border:1px solid #6F4E37;
    color: #6F4E37;
}
.filter-bar{
display:flex;
gap:10px;
flex-wrap:wrap;
}

.filter-btn{
border:1px solid #ddd;
background:white;
padding:8px 15px;
border-radius:20px;
font-size:14px;
cursor:pointer;
}

.filter-btn:hover{
border-color:#6F4E37;
color:#6F4E37;
}

.filter-btn.active{
background:#6F4E37;
color:white;
border:none;
}
.product-card:hover{
    box-shadow:0 0 10px rgba(111,78,55,0.3);
    transform: scale(1.1);
}
.displayProduct{
    background-image: url('../image/productImages/product-background.jpg');
    background-size: cover;
    background-position: center;

}
.btn-coffee:hover{
    background-color: #ffffff!important;
    border:1px solid #6F4E37!important;
    color: #6F4E37!important;
}
.popup-content{
    position:absolute;
}
#modalImage {
    max-height: 400px;
    width: 100%;
    object-fit: contain;
}
#scrollTopBtn {
    background-color: #6F4E37;
    color: white;
    border: 2px solid transparent;
    transition: all 0.3s;
    z-index:9999;
    width:70px;
    height:70px;
}

#scrollTopBtn:hover {
    background-color: white !important;
    color: #4B2E1E !important;
    border-color: #4B2E1E !important;
    transform: translateY(-3px);
}

#scrollTopBtn:active {
    transform: scale(0.9);
}
/* Tablet */
@media (max-width: 768px) {
   .hero {
           background-position: center center;
           min-height: 60vh;
       }

       .hero-title {
           font-size: 2.2rem !important;
       }

       .hero-slogan {
           font-size: 1.2rem !important;
       }

       #scrollTopBtn {
           width: 40px !important;
           height: 40px !important;
           font-size: 1rem !important;
       }
}
/* Mobile */
@media (max-width: 480px) {
    .hero {
        min-height: 50vh;
        background-position: 70% center;
    }

    .hero-title {
        font-size: 1.7rem !important;
    }

    .hero-slogan {
        font-size: 1rem !important;
    }

    .hero-slogan span {
        margin-left: 1rem !important;
    }
     #scrollTopBtn {
                width: 40px !important;
                height: 40px !important;
                font-size: 1rem !important;
            }
}